
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--
    Victory HTML CSS Template
    https://templatemo.com/tm-507-victory
    -->
    <title>MTA Restaurant</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/css/fontAwesome.css">
    <link rel="stylesheet" href="~/Content/css/hero-slider.css">
    <link rel="stylesheet" href="~/Content/css/owl-carousel.css">
    <link rel="stylesheet" href="~/Content/css/templatemo-style.css">
   @* <link href="~/Areas/Admin/css/dialog.css" rel="stylesheet" />*@
    <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <script src="~/Scripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Scripts/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="~/Scripts/vendor/bootstrap.min.js"></script>

    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/main.js"></script>
</head>

<body>
    <div class="header">
        <div class="container">
            <a href="#" class="navbar-brand scroll-top">MTA Restaurant</a>
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Menu", "Menu", "Home")</li>
                        <li>@Html.ActionLink("Blog", "Blog", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </div>
    <!--/.header-->
    <div class="primary-button" style="position: fixed; top: calc(50% - 25px); right: 0; z-index: 1000;">
        <a href="javascript:void(0)" style="width: 162px; text-align:center;" data-id="book-table" id="book">Đặt bàn </a>
    </div>
    <div class="primary-button" style="position: fixed; top: calc(50% + 25px); right: 0; z-index: 1000;">
        <a href="javascript:void(0)" style="width: 162px; text-align: center" data-id="book-table" id="order">Gọi món ngay</a>
    </div>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>Copyright &copy; 2020 Victory Template</p>
                </div>
                <div class="col-md-4">
                    <ul class="social-icons">
                        <li><a rel="nofollow" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p>Design: TemplateMo</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="datban" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 620px" role="document">
            <div class="modal-content">
                @*<div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Reservation</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>*@
                <form>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×&nbsp;</span>
                    </button>
                    <div class="dialog-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div style="padding: 50px 0 0 20px">
                                    <img src="~/Content/img/book_left_image.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="right-info">
                                    <h4>Reservation</h4>
                                    <form id="form-submit" method="post" action="/api/datban/Post">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <fieldset>
                                                    <input style="margin-top:15px; margin-bottom:15px;" name="ngaydat" type="date" class="form-control" id="name" placeholder="Ngày ăn" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6">
                                                <fieldset>
                                                    <input style="margin-top:15px; margin-bottom:15px;" name="sogio" type="text" class="form-control" id="name" placeholder="Giờ ăn" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6">
                                                <fieldset>
                                                    <input style="margin-top:15px; margin-bottom:15px;" name="hoten" type="text" class="form-control" id="name" placeholder="Họ tên khách hàng" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6">
                                                <fieldset>
                                                    <input style="margin-top:15px; margin-bottom:15px;" name="sdt" type="text" class="form-control" id="phone" placeholder="SĐT" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6">
                                                <fieldset>
                                                    <select required class="person" name='songuoi'>
                                                        <option value="">Số người ?</option>
                                                        <option value="1-Person">1</option>
                                                        <option value="2-Persons">2</option>
                                                        <option value="3-Persons">3</option>
                                                        <option value="4-Persons">4</option>
                                                        <option value="5-Persons">5</option>
                                                        <option value="6-Persons">6</option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6">
                                                <fieldset>
                                                    <button type="submit" id="form-submit" class="btn">Book Table</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                @*<div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                        <button class="btn btn-primary" id="btn-save">Lưu</button>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="modal fade" id="datmon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 900px" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×&nbsp;</span>
                </button>
                <form>

                    <div class="dialog-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <img src="~/Content/img/datmon.jpg" style="border-bottom-left-radius: 7px; border-top-left-radius: 7px"/>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-right: 30px; padding-top: 10px">
                                <div style="padding-bottom: 20px">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Họ và tên..." required="">
                                    </fieldset>
                                </div>
                                <div style="padding-bottom: 20px">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Số điện thoại..." required="">
                                    </fieldset>
                                </div>
                                <div style="padding-bottom: 20px">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Email..." required="">
                                    </fieldset>
                                </div>
                                <div style="padding-bottom: 20px">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Địa chỉ..." required="">
                                    </fieldset>
                                </div>
                                @*<div style="padding-bottom: 20px">
                                    <fieldset>
                                        <select required class="person" name='persons'>
                                            <option value="">Chọn món...</option>
                                            <option value="1-Person">abc</option>
                                            <option value="2-Persons">abc</option>
                                            <option value="3-Persons">abc</option>
                                            <option value="4-Persons">abc</option>
                                            <option value="5-Persons">abc</option>
                                            <option value="6-Persons">abc</option>
                                        </select>
                                    </fieldset>
                                </div>*@
                                <button class="btn btn-primary" type="submit">Đặt món</button>

                            </div>
                        </div>
                    </div>
                </form>
                @*<div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
            <button class="btn btn-primary" id="btn-save">Lưu</button>
        </div>*@
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $("#book").on('click', function (event) {
        event.preventDefault();
        $("#datban").modal();
    });
    $("#order").on('click', function (event) {
        event.preventDefault();
        $("#datmon").modal();
    });
</script>